/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

.avatar {
  height:40px;
  width:90px;
  margin-left: auto;
  margin-right: auto;
}

.avatar a img{
height:40px;
width:60px;
padding-bottom: 2px;
}

.catShow {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

.userPage {
  border-radius: 25px;
  border: 1.2px solid black;
  padding: 20px;
  width: 50%;
  height: 100%;
  background-color: white;
  margin: auto;
  margin-top: 5%;
  margin-bottom:5%;
  opacity: 0.9;
}
div.catform-header{
  font-size:20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
div.cat-form{
  border-radius: 25px;
  border: 1.2px solid black;
  padding: 20px;
  width: 50%;
  height: 60%;
  background-color: white;
  margin: auto;
  margin-top: 5%;
  margin-bottom:5%;
  opacity: 0.9;
  top:50%;
  left:50%;
}
div.devise-signup{
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
div.devise-form-signup{
  border-radius: 25px;
  border: 1.2px solid black;
  padding: 20px;
  width: 50%;
  height: fit-content;
  background-color: white;
  margin: auto;
  margin-top: 5%;
  margin-bottom:5%;
  opacity: 0.9;
  top:50%;
  left:50%;
}

div.devise-form-signin{
  border-radius: 25px;
  border: 1.2px solid black;
  padding: 20px;
  width: 50%;
  height: 50%;
  background-color: white;
  margin: auto;
  margin-top: 5%;
  margin-bottom:5%;
  opacity: 0.9;
  top:50%;
  left:50%;
}
input#user_username{
  margin-top: -20px;
}

input#user_email{
  margin-top: -20px;
}

input#user_password{
  margin-top: -20px;
}
input#user_password_confirmation{
  margin-top:-20px;
}
input{
  margin-left: 20px;
}
div.devise-login{
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

body {
  background-image: image-url("catbackground.jpg");
  background-size:auto;
  background-repeat:no-repeat;
  background-position:center;
  overflow-x: scroll;
  position:inherit;
}

.catShow {
  border-radius: 25px;
  border: 1.2px solid black;
  padding: 20px;
  width: 50%;
  height: 100%;
  background-color: white;
  margin: auto;
  margin-top: 5%;
  margin-bottom:5%;
  box-shadow: 1px black;
}
label{
  color:black;
}
h1{
  color:black;
}
#map{
  width:100%;
  height:80%;
  margin: auto;
  padding:-2px;
  margin-top: 10px;
}

div.field {
  width:80%;
  margin-left: 20px;
}
input#cat_name{
  margin-top: -20px;
}

textarea#cat_description{
  margin-top: -20px;
}

textarea#cat_location{
  margin-top:-20px;
}

input.btn.btn-primary{
  margin-left: 20px;
}
h1{
  margin-left: 20px;
}
h1.title{
  text-align:center;
  vertical-align: center;
}
a{
  color:black;
}
a:hover {
  color: inherit;
}
.title{
  font-family: 'Chewy', cursive;
  font-size: 3em;
}
input#cat_image{
  color:black;
  font-size:14px;
}

div#error_explanation{
  color:#FF8181;

}
h2{
  color:#FF8181;
  font-size: 22px;
}
